frr version 10.1.1_git
frr defaults traditional
hostname {{ hostname }}
service integrated-vtysh-config
!
ipv6 forward
!
router isis {{ hostname }}
    net {{ net }}
    is-type level-1
exit
!
ipv6 route {{ prefix }} Null0
!
router bgp {{ bgp_as }}
    bgp router-id {{ bgp_router_id }}
    bgp default ipv6-unicast
    no bgp default ipv4-unicast
    neighbor EXTERNAL peer-group
    neighbor EXTERNAL remote-as {{ external_peer_as }}
    neighbor {{ external_peer_interface }} interface peer-group EXTERNAL
    address-family ipv6 unicast
        network {{ prefix }}
        {% if has_host %}
        network {{ host_interface.host_prefix }}
        {% endif %}
        neighbor EXTERNAL activate
        neighbor EXTERNAL route-map accept_from_external in
        neighbor EXTERNAL route-map send_to_external out
    exit-address-family
exit
!
bgp community-list standard EXTERNAL permit {{ bgp_as }}:100
!
ipv6 access-list all seq 5 permit any
!
route-map accept_from_external permit 10
    match ipv6 address all
    set community {{ bgp_as }}:100
    set local-preference 1000
exit
!
route-map send_to_external permit 10
    match ipv6 address all
    set ipv6 next-hop peer-address
exit
!
interface lo
    ipv6 address {{ loopback.ipv6_address }}
    ipv6 router isis {{ hostname }}
    isis passive
exit
!
{% if has_host %}
interface {{ host_interface.name }}
    ipv6 address {{ host_interface.ipv6_address }}
    ipv6 router isis {{ hostname }}
    isis passive
    ipv6 nd prefix {{ host_interface.ipv6_address }} no-autoconfig
exit
{% endif %}
!
