frr version 10.1.1_git
frr defaults traditional
hostname {{ hostname }}
service integrated-vtysh-config
!
ipv6 forward
!
router isis {{ hostname }}
    net {{ net }}
    is-type level-1
exit
!
router bgp 65000
    bgp router-id {{ bgp_router_id }}
    no bgp default ipv4-unicast
    bgp default ipv6-unicast
    neighbor SECOND_LEVEL peer-group
    neighbor SECOND_LEVEL remote-as 65000
    {% for interface in rr_interfaces %}
    neighbor {{ interface.name }} interface peer-group SECOND_LEVEL
    {% endfor %}
    address-family ipv4 unicast
        no neighbor SECOND_LEVEL activate
    exit-address-family
    address-family ipv6 unicast
        network fc00:2142:1::/48
        neighbor SECOND_LEVEL activate
        neighbor SECOND_LEVEL route-map FROM_SECOND_LEVEL_IN in
        neighbor SECOND_LEVEL route-map TO_SECOND_LEVEL_OUT out
    exit-address-family
exit
!
route-map TO_SECOND_LEVEL_OUT permit 10
    match ipv6 address all
    set ipv6 next-hop peer-address
exit
!
route-map FROM_SECOND_LEVEL_IN permit 10
    match ipv6 address all
    set ipv6 next-hop prefer-global
exit
!
ipv6 access-list all seq 5 permit any
!
interface loopback
    ipv6 address {{ loopback.ipv6_address }}
    ipv6 router isis {{ hostname }}
    isis passive
exit
!
{% for interface in rr_interfaces %}
interface {{ interface.name }}
    ipv6 address {{ interface.ipv6_address }}
    ipv6 router isis {{ hostname }}
    isis circuit-type level-1
    isis network point-to-point
exit
!
{% endfor %}
