frr version 10.1.1_git
frr defaults traditional
hostname {{ hostname }}
service integrated-vtysh-config
!
ipv6 forward
!
router isis {{ hostname }}
    net {{ net }}
    is-type level-1
exit
!
! ipv6 route fc00:2142:1::/48 Null0
!
router bgp 65000
    bgp router-id {{ bgp_router_cluster_id }}
    bgp cluster-id {{ bgp_router_cluster_id }}
    bgp default ipv6-unicast
    no bgp default ipv4-unicast
    ! Top route reflector ---------
    neighbor TOP_LEVEL_PEER peer-group
    neighbor TOP_LEVEL_PEER remote-as 65000
    neighbor {{ interfaces[0].name }} interface peer-group TOP_LEVEL_PEER
    ! Second level route reflector ---------
    neighbor SECOND_LEVEL peer-group
    neighbor SECOND_LEVEL remote-as 65000
    {% for interface in interfaces[1:] %}
    neighbor {{ interface.name }} interface peer-group SECOND_LEVEL
    {% endfor %}
    ! Address family ---------
    address-family ipv4 unicast
        no neighbor SECOND_LEVEL activate
    exit-address-family
    !
    address-family ipv6 unicast
        network fc00:2142:1::/48
        ! Top level
        neighbor TOP_LEVEL_PEER activate
        neighbor TOP_LEVEL_PEER route-map FROM_TOP_LEVEL_IN in
        neighbor TOP_LEVEL_PEER route-map TO_TOP_LEVEL_OUT out
        ! Second level
        neighbor SECOND_LEVEL activate
        neighbor SECOND_LEVEL route-reflector-client
        neighbor SECOND_LEVEL route-map FROM_SECOND_LEVEL_IN in
        neighbor SECOND_LEVEL route-map TO_SECOND_LEVEL_OUT out
        neighbor SECOND_LEVEL soft-reconfiguration inbound
    exit-address-family
exit
!
bgp community-list standard FROM_SECOND_LEVEL permit 65000:10
!
ipv6 access-list all seq 5 permit any
!
route-map FROM_TOP_LEVEL_IN permit 10
    match ipv6 address all
    set ipv6 next-hop prefer-global
exit
!
route-map TO_TOP_LEVEL_OUT permit 10
    match community FROM_SECOND_LEVEL
    set ipv6 next-hop peer-address
exit
!
route-map FROM_SECOND_LEVEL_IN permit 10
    match ipv6 address all
    set community 65000:10
    set ipv6 next-hop prefer-global
exit
!
route-map TO_SECOND_LEVEL_OUT permit 10
    match community FROM_SECOND_LEVEL
    ! set ipv6 next-hop peer-address
exit
!
interface loopback
    ipv6 address {{ loopback.ipv6_address }}
    ipv6 router isis {{ hostname }}
    isis passive
exit
!   
{% for interface in interfaces %}
interface {{ interface.name }}
    ipv6 address {{ interface.ipv6_address }}
    ipv6 router isis {{ hostname }}
    isis circuit-type level-1
    isis network point-to-point
exit
!
{% endfor %}
